<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>
	
	
	<properties resource="config/jdbc.properties"/>
	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias alias="purchase" type="com.model2.mvc.service.domain.Purchase" />
		<typeAlias alias="search" type="com.model2.mvc.common.Search" />
	</typeAliases>
	<environments default="development">
  
    <environment id="development">
      <!-- Transaction Definition -->
      <transactionManager type="JDBC"/>
 	   <!-- javax.sql.DataSource Definition -->      
      <dataSource type="POOLED">
		<property name="driver" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        
	  </dataSource>
    </environment>
    
  </environments>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/PurchaseMapper.xml"/>

	</mappers>

</configuration>